
<div class="div-busqueda">
    <input type="text" [(ngModel)]="name">
    <button class="custom-btn btn-1"(click)="search()">Buscar</button>
</div>

<div class="c1">

<div class="container">
    <div class="div-imagen">
        <img src="{{urlImage}}" alt="">
    </div>
    <div class="div-nombre">
        <p class="etiqueta">🔤 Nombre: {{name2}}</p>
    </div>
    <div class="div-nombre">
        <p class="etiqueta">🔰 Tipo: {{type}}</p>
    </div>
    <div class="div-nombre">
        <p class="etiqueta">💗 Vida: {{health}}</p>
    </div>
    <div class="div-nombre">
        <p class="etiqueta">🗡 Ataque: {{attack}}</p>
    </div>
    <div class="div-nombre">
        <p class="etiqueta">🛡 Defensa: {{defense}}</p>
    </div>
    <div class="div-nombre">
        <p class="etiqueta">⏩ Velocidad: {{speed}}</p>
    </div>
</div>

<div class="examples">
    <ul>
        <td>Ejemplos</td>
        <li *ngFor="let pokemon of name3">{{pokemon.name}}</li>
    </ul>
</div>
</div>
